@model IEnumerable<AccesControl.ViewModels.StatModel>

<div class="row justify-content-lg-center" style="background-color: white; margin-top: 5%;" >

<table class="table">
    <thead>
        <tr>
            <th>
               Вход
            </th>
            <th>
                Выход
            </th>
            <th>
               Опоздал
            </th>
            <th>
                На сколько
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Late)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
            <a asp-controller="Workers" asp-action="Details" asp-route-id="@item.WorkerID">инф. о раб.</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</div>
