@model IEnumerable<AccesControl.ViewModels.StatModel>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Late)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Late)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>

        </tr>
}
    </tbody>
</table>
